<footer class="container-fluid text-center" id="foot">
        <div class="row">
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <br>
                <h3>Our Address and Contact Info here.</h3>
            </div>
            <div class="col-sm-4">
                <h3>Connect</h3>
                <a href="https://www.facebook.com" class="fab fa-facebook"></a>
                <a href="https://www.instagram.com/fara_corporation/" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.whatsapp.com" class="fab fa-whatsapp"></a>
                <a href="https://www.twitter.com" class="fab fa-youtube"></a>
            </div>
            <div class="col-sm-4">
                <img src="/images/footer.jpg" class="icon">
            </div>
        </div>
    
    </footer>
    
    </body>
    </html>