<% include partials/header %>
<div id="home">
    <div class="landing-text">
        <h1>FaRa COrPErATiOn</h1>
        <h3>Professional Graphic Content</h3>
        <a href="/works" class="btn btn-default btn-lg">Get Started</a>
    </div>
</div>

<div class="padding" id="about">
    <div class="container" >
        <div class="row">
            <div class="col-sm-6">
                <img src="/images/ben1.jpg" alt="">
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="">All About Using Bootstrap</h2>
                <p class="lead">In one graphic image, your logo needs to define who you are: the face of your company and what you do. 
                    Your logo is an important part of promoting and marketing your business and is often the first thing that catches the eye of a potential customer. 
                    A custom logo design supports all your marketing and promotional materials - and your website - to attract attention and stimulate interest 
                    in what you do or offer <%=  %>.</p>
                    
            </div>
        </div>
        
    </div>
</div>

<div class="padding" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 ">
                <h4>Love that Lasts</h4>
                <p>In one graphic image, your logo needs to define who you are: the face of your company and what you do. 
                    Your logo is an important part of promoting and marketing your business and is often the first thing that catches the eye of a potential customer. 
                    A custom logo design supports all your marketing and promotional materials - and your website - to attract attention and stimulate interest 
                    in what you do or offer.</p>
            </div>
            <div class="col-sm-6 col-md-3 ">
                <img src="/images/serv1.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6 col-md-3 ">
                <h4>Love that Lasts</h4>
                <p>In one graphic image, your logo needs to define who you are: the face of your company and what you do. 
                    Your logo is an important part of promoting and marketing your business and is often the first thing that catches the eye of a potential customer. 
                    A custom logo design supports all your marketing and promotional materials - and your website - to attract attention and stimulate interest 
                    in what you do or offer.</p>
            </div>
            <div class="col-sm-6 col-md-3 ">
                <img src="/images/serv2.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div id="fixed">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <video width="320" height="240" autoplay controls loop>
                    <source src="/images/vid.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-sm-6 col-md-4">
                <video width="320" height="240" autoplay controls loop>
                    <source src="/images/vid2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-sm-6 col-md-4">
                <video width="320" height="240" autoplay controls loop>
                    <source src="/images/vid3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div> 
    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <h4 class="">All About Using Bootstrap</h4>
                    <p>In one graphic image, your logo needs to define who you are: the face of your company and what you do. 
                        Your logo is an important part of promoting and marketing your business and is often the first thing that catches the eye of a potential customer. 
                        A custom logo design supports all your marketing and promotional materials - and your website - to attract attention and stimulate interest 
                        in what you do or offer.</p>
            </div>
            <div class="col-sm-6">
                <img src="/images/about.jpg" alt="">
            </div>
        </div>
            
    </div>
</div>
<% include partials/footer %>
